<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Webjump\PetExt\Api\Data\PetExtInterface" type="Webjump\PetExt\Model\PetExt" />
    <preference for="Webjump\PetExt\Api\Data\PetExtSearchResultInterface" type="Webjump\PetExt\Model\PetExtSearchResult" />
    <preference for="Webjump\PetExt\Api\PetExtRepositoryInterface" type="Webjump\PetExt\Model\Repository\PetExtRepository" />

    <type name="Magento\Customer\Controller\Adminhtml\Index\Save">
        <plugin
            name="save_before_customer"
            type="Webjump\PetExt\Plugin\Customer\Controller\Adminhtml\Index\SaveTest"/>
    </type>

<!--    <type name="Magento\Customer\Model\ResourceModel\CustomerRepository">-->
<!--        <plugin-->
<!--            name="plugin_customer_repository"-->
<!--            type="Webjump\PetExt\Plugin\Customer\Model\ResourceModel\CustomerRepositoryPlugin"/>-->
<!--    </type>-->

</config>
